@import url("https://rsms.me/inter/inter.css");

@tailwind base;

* {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    * {
        font-family: "Inter var", sans-serif;
        font-feature-settings: "liga", "cv02", "cv03", "cv04", "cv09";
    }
}

.border-1px {
    border-width: 1px;
}

.border-1pt {
    border-width: 1.15pt;
}

.trans-none {
    transition: all 0s;
}

.trans {
    transition: all 0.25s;
}

.trans-bg {
    transition-property: background;
}

.trans-slow {
    transition-duration: 0.5s;
}

.trans-slower {
    transition-duration: 0.5s;
}

.trans-fast {
    transition-duration: 0.15s;
}

.trans-faster {
    transition-duration: 0.075s;
}

@tailwind components;

@tailwind utilities;